<!DOCTYPE html>
<html>

<head>

<style>
.box{
border-radius: 25px;
padding: 20px;
height:250px ;
width:280px;
background-color:black;
.keys{

}
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	height:35px;
	width:64px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

</style>
<script type="text/javascript">

function display(toBeAdded){

 var existing=document.getElementById("input_field").value;
 if(existing.length!=0){
	if(isOperator(toBeAdded)){
		if(isOperator(existing.charAt(existing.length-1))){
		}else{
			if(isNaN(existing)){
			calExpression();
			document.getElementById("input_field").value=document.getElementById("input_field").value+toBeAdded;
			}else{
			document.getElementById("input_field").value=existing+toBeAdded;
			}
		}
		
	}else{
		
	document.getElementById("input_field").value=existing+toBeAdded;
	}
 }else{
	if(toBeAdded==0||isOperator(toBeAdded)){
	}
	else{
		document.getElementById("input_field").value=toBeAdded;
	}
 }

}
function clean(){
document.getElementById("input_field").value="";
}
function calExpression(){
var expression=document.getElementById("input_field").value;
document.getElementById("input_field").value=eval(expression);
}
function isOperator(operator){
if(operator=='+'||operator=='-'||operator=='*'||operator=='/'){
return true;
}
else{
return false; 
}
}

</script>
</head>

<body>
<div class="box">
	
	<div >
	<br>
	<br>
	<center><input type="text" name="input" id="input_field" size=33></center><br>
	
	</div>
	<div class="keys">
	<table>
	<tr>
		<td><button onclick="display(1)" class="myButton">1</button></td>
		<td><button onclick="display(2)" class="myButton">2</button></td>
		<td><button onclick="display(3)"class="myButton">3</button></td>
		<td><button onclick="clean()" class="myButton">C</button></td>
	</tr>
	
	<tr>
		<td><button onclick="display(4)" class="myButton">4</button></td>
		<td><button onclick="display(5)" class="myButton">5</button></td>
		<td><button onclick="display(6)" class="myButton">6</button></td>
		<td><button onclick="display('+')" class="myButton">+</button></td>
	</tr>
	
	<tr>
		<td><button onclick="display(7)" class="myButton">7</button></td>
		<td><button onclick="display(8)" class="myButton">8</button></td>
		<td><button onclick="display(9)" class="myButton">9</button></td>
		<td><button onclick="display('-')" class="myButton">-</button></td>
	</tr>
	
	<tr>
		<td><button onclick="display('*')" class="myButton">*</button></td>
		<td><button onclick="display(0)" class="myButton">0</button></td>
		<td><button onclick="display('/')" class="myButton">/</button></td>
	    <td><button onclick="calExpression()" class="myButton">=</button></td>
	</tr>
	</table>
	</div>

</div>


</body>
</html>
